@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: url("/background.jpg") no-repeat center center fixed;
  background-size: cover;
  backdrop-filter: blur(10px);
  font-family: Arial, Helvetica, sans-serif;
}

